<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="../img/WhatsApp_Image_2024-11-20_at_09.52.29-removebg.png"
        alt="Ahmad Revly"
        class="img-thumbnail-rounded-circle"
        width="200"
      />
      <h1 class="display-4">Ahmad Revly</h1>
      <p class="lead">Lecturer | Gaming</p>
    </div>
  </div>
</div>
